
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your Jungle order!</h1>
    <p>Your order details are below:</p>
      <table>
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
        <% @order.line_items.each do |line_item| %>
            <tr>
              <td>
                <%= image_tag line_item.product.image.tiny %>
              </td>
              <td>
                <h4><%= line_item.product.name %></h4>
                <br>
                <p><%= line_item.product.description %></p>
              </td>
              <td>
                <%= humanized_money_with_symbol(line_item.item_price) %>
              </td>
              <td>
                <%= line_item.quantity %>
              </td>
              <td>
                <%= humanized_money_with_symbol(line_item.total_price) %>
              </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              <%= humanized_money_with_symbol(@order.total) %>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <p>Your order will arrive soon! We hope you enjoyed your Jungle experience. Have a great day!</p>
  </body>
</html>